<div style="background: linear-gradient(to top, rgb(33, 54, 54), darkslategray); padding: 40px;color: white; text-align: center">
    <h1>
        <%- title %> 
    </h1>
</div>
<%- include("navigation-links.ejs") %> 