<h1>
    Habilidades técnicas
</h1>
Conocimientos en programación: Tengo experiencia en el desarrollo de aplicaciones con <strong>Javascript</strong>, Además, tengo experiencia en el desarrollo de aplicaciones con <strong>Python</strong>. También tengo experiencia en el desarrollo de aplicaciones con <strong>Java</strong>. Tengo experiencia en el desarrollo de aplicaciones con <strong>NodeJS</strong>, un framework de JavaScript para aplicaciones en tiempo real.
<br> <br>
Experiencia en herramientas específicas: Tengo experiencia en el uso de <strong>Excel VBA</strong> y <strong>Google Spreadsheet</strong> para automatizar tareas y crear soluciones de hojas de cálculo avanzadas.
<br> <br>
Conocimientos en bases de datos: Tengo experiencia en el manejo de <strong>MongoDB</strong>, una base de datos NoSQL que se utiliza para almacenar grandes volúmenes de datos estructurados e información no estructurada. Además, tengo experiencia en el manejo de <strong>SQL</strong>, un lenguaje de programación utilizado para gestionar bases de datos relacionales.
<br> <br>
Conocimientos en <strong>diseño gráfico</strong>: Tengo habilidades en el uso de herramientas de diseño gráfico Photoshop y editores de audio y video.