<div>
  <h1>Programación con JavaScript</h1>
  <div>
    Soy un desarrollador con experiencia en
    <strong>JavaScript "Vanilla"</strong>, es decir, programando con el lenguaje
    JavaScript sin utilizar ningún framework o librería adicional. He trabajado
    en proyectos tanto de <strong>front-end</strong> como de
    <strong>back-end</strong>, desarrollando funcionalidades avanzadas como
    manipulación del <strong>DOM</strong>, <strong>peticiones AJAX</strong> y
    validaciones de formularios. <br />
    <br />
    Soy un programador con una gran capacidad de <strong>aprendizaje</strong> y
    adaptación, siempre estoy dispuesto a <strong>aprender</strong> nuevas
    técnicas y mejorar mis habilidades para ofrecer soluciones de
    <strong>alta calidad</strong> a mis clientes.
  </div>
  <br />
  <br />
  <a class="btn btn-primary" href="/javascript">
    Ver proyectos públicos de programación
  </a>
</div>
