<style>
  #detalles-sobre-experiencia-personal i {
    display: none;
  }
  #detalles-sobre-experiencia-personal .nav-link.active i {
    display: inline-block;
  }
</style>

<div>
  <h1>Experiencia Desarrollando software para empresas</h1>
  <br /><br />
  <div id="tecnologias"></div>
  <br /><br />
  Desde los 13 años estoy en el proceso de aprendizaje de desarrollo de
  software. Mi experiencia incluye el desarrollo de proyectos tanto de manera
  <strong>independiente</strong> como para <strong>empresas</strong>, y me he
  destacado por <strong>soluciones matemáticas eficientes</strong> y por el
  <strong>rendimiento</strong> de mis proyectos. <br>
  <br />
  Durante mi carrera como desarrollador de software, he tenido la oportunidad de
  trabajar con varias empresas y contribuir a solucionar sus desafíos a través
  de mis habilidades en programación. Me he destacado por mi capacidad para
  entender las necesidades y objetivos de los clientes y por mi capacidad para
  encontrar soluciones eficientes y escalables para sus problemas.
  <br><br><br>
  <div
    id="logos"
    style="
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    "
  ></div>
  <br /><br />
  <div
    id="detalles-sobre-experiencia-personal"
    style="background: white; border-radius: 10px"
  ></div>
</div>