<style>
    .nav-link:hover {
        background: rgba(47, 79, 79, 0.2);
        color: gray;
    }

    .nav-link:not(.active){
        color: steelblue;
        border-right: 1px solid lightgray;
    }

    .nav-item button{
        font-weight: bolder;
        font-size: 150%;
        color: gray;
    }

    #content-yo{
        padding: 20px;
        background: white;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }
</style>
<ul class="nav nav-tabs" id="tabs-yo" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab-map-hab" data-bs-toggle="tab" data-bs-target="#content-map-hab" type="button" role="tab" aria-controls="content-map-hab" aria-selected="true" onclick="setTimeout(responsiveD3JS, 200);">
                Mapa de habilidades
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-fotos" data-bs-toggle="tab" data-bs-target="#content-fotos" type="button" role="tab" aria-controls="content-fotos" aria-selected="false">
            Fotos
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-contact" data-bs-toggle="tab" data-bs-target="#content-contact" type="button" role="tab" aria-controls="content-contact" aria-selected="false">
            Contacto
        </button>
    </li>
</ul>
<div class="tab-content" id="content-yo">

    <div class="tab-pane fade show active" id="content-map-hab" role="tabpanel" aria-labelledby="tab-map-hab" >
        <%- include("graf-habilidades.ejs") %> 
        <%- include("desc-person.ejs") %> 
    </div>
    <div class="tab-pane fade" id="content-fotos" role="tabpanel" aria-labelledby="tab-fotos" >
    </div>
    <div class="tab-pane fade" id="content-contact" role="tabpanel" aria-labelledby="tab-contact" >
        <i class="fa-solid fa-mobile-screen-button"></i> <i class="fa-brands fa-whatsapp"></i> (+57) 3160463618
        <br>
        <i class="fa-regular fa-envelope"></i> Jeffaporta@gmail.com
        <br>
        <i class="fa-solid fa-location-dot"></i> Cali
    </div>
</div>

<br>
<br>
<style>
    .miniatura {
        width: 200px;
        height: 200px;
        margin: 10px;
        object-fit: cover;
        cursor: pointer;
    }
</style>
<script>
    {
        let html = `
            <center>
        `;
        [
        "https://i.ibb.co/j8bPTtW/00000-981784955-wallpaper-elec.png",
        "https://i.ibb.co/m8x4xGg/00003-211110304-wallpaper-elec.png",
        "https://i.ibb.co/5rMvHT5/00008-2297074801-wallpaper-mus.png",
        "https://i.ibb.co/CPJ3hXQ/00021-4089163523-Wallpaper-pop.png",
        "https://i.ibb.co/JxWdFmt/00022-4089163530-Wallpaper-pop.png",
        "https://i.ibb.co/Th79Yzy/00030-3190627773-Wallpaper-pop.png",
        "https://i.ibb.co/MVGxpmg/Whats-App-Image-2023-01-17-at-3-04-35-PM-2.jpg",
        ].forEach(e =>{
            html+= `<img class="miniatura" src="${e}" data-lightbox-group="1">`;
        })
        html += `
            </center>
        `;
        document.getElementById("content-fotos").innerHTML = html;
    }

    lightbox_update_style({
        background: "rgba(0,0,0,0.5)",
        background2: "rgba(0,0,0,0.5)",
        colorButtons: "white",
        colorBorder: "black",
    })

    setTimeout(() => {
        lightbox_load()
    }, 0);
</script>