<%- include("partials/header.ejs",{title:"",name:"404"}) %>
<div style="width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <center style="font-size: 500%;">
        ERROR: 404
        <br>
        <small>
            <small>
                <small>
                    Página no encontrada
                </small>
            </small>
        </small>
    </center>
</div>
<%- include("partials/footer.ejs") %> 