<%- include("partials/header.ejs",{title:""}) %>

<script src="javascript/00libs/lightbox/2/index.js"></script>
    
<div style="padding: 20px">
    <%- include("partials/sobre-mi.ejs") %>
    <hr>
    <%- include("partials/Javascript-presentacion.ejs") %>
</div>

<br> <br>

<%- include("partials/footer.ejs") %> 